<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
  <div class="container">
    <a class="navbar-brand" href="#">Mastek</a>
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Registration</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h1>{{ title }}</h1>
<button class="btn btn-warning" (click)="updateTitle()">Update Title</button>
<h2>{{ fname }}</h2>
<h1>Add two numbers {{ 2 + 2 }}</h1>
<h1>Add two strings {{ "hello" + "world" }}</h1>
<h1>Print john in capital {{ fname.toUpperCase() }}</h1>
<h1>Print an array {{ [10, 20, 30, 40, 50] }}</h1>
<h1>Print first element of array {{ [10, 20, 30, 40, 50][0] }}</h1>
<h1>Print an object {{ person }}</h1>
<ul>
  <li>{{ person.id }}</li>
  <li>{{ person.name }}</li>
  <li>{{ person.age }}</li>
</ul>
<img src="{{ photo }}" alt="user" />
<br />
